- page_title _('Checkout')

.row.flex-grow-1
  .checkout-pane.align-items-center.bg-gray-light.col-lg-7.d-flex.flex-column.flex-grow-1
    #checkout{ data: subscription_data }
  .summary-pane.col-lg-5.d-flex.flex-row.justify-content-center
    #summary
