# `build_from_dir` can't find Dockerfile when `.dockerignore` is "*"
# See https://github.com/swipely/docker-api/issues/484
# Ignore all folders except for the files we need to build the QA image.

/.git/
/.go/pkg/mod/
/.yarn-cache/
/app/
/bin/
/builds/
/changelogs/
/config/
/danger/
/db/
/doc/
/docker/
/ee/
/fixtures/
/templates/
/lint/
/lib/
/locale/
/log/
/modules/
/node_modules/
/plugins/
/public/
/rubocop/
/scripts/
/shared/
/spec/
/symbol/
/tmp/
/vendor/

# Following are the files we need:
!/config/initializers/0_inject_enterprise_edition_module.rb
!/ee/app/models/license.rb
!/lib/gitlab.rb
!/vendor/ruby/
# Plus the following:
# - ./qa/
# - ./INSTALLATION_TYPE
# - ./VERSION
# - ./vendor/ruby
