- page_title 'Static Site Editor'

%h1
  = _('Static Site Editor edit page')

#static-site-editor{ data: { branch: @ref, path: @path, commit: @commit.id, project: @project.path, namespace: @project.namespace.path } }
