- breadcrumb_title _('Dependency List')
- page_title _('Dependency List')

#js-dependencies-app{ data: { endpoint: 'foobar/baz', empty_state_svg_path: image_path('illustrations/security-dashboard-empty-state.svg'), documentation_path: help_page_path('user/application_security/security_dashboard/index') } }
