.omniauth-box {
  .omniauth-divider {
    &::before,
    &::after {
      content: '';
      flex: 1;
      border-bottom: 1px solid $gray-dark;
      margin: $gl-padding-24 0;
    }

    &::before {
      margin-right: $gl-padding;
    }

    &::after {
      margin-left: $gl-padding;
    }
  }

  .omniauth-btn {
    width: 48%;

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    img {
      width: $default-icon-size;
      height: $default-icon-size;
    }
  }
}
