%h3
  = _('Shared Runners')

.bs-callout.shared-runners-description
  - if Gitlab::CurrentSettings.shared_runners_text.present?
    = markdown_field(Gitlab::CurrentSettings.current_application_settings, :shared_runners_text)
  - else
    = _('GitLab Shared Runners execute code of different projects on the same Runner unless you configure GitLab Runner Autoscale with MaxBuilds 1 (which it is on GitLab.com).')

#update-shared-runners-form{ data: { settings: group_shared_runners_settings_data(@group).to_json } }
