- @hide_breadcrumbs = true
- page_title _('Enter 2FA for Admin Mode')

.row.justify-content-center
  .col-6.new-session-forms-container
    .login-page
      #signin-container
        = render 'admin/sessions/tabs_normal', tab_title: _('Enter Admin Mode')
        .tab-content
          - if current_user.two_factor_otp_enabled?
            .login-box.tab-pane.active{ id: 'login-pane', role: 'tabpanel' }
              .login-body
                = render 'admin/sessions/two_factor_base'

          - if current_user.two_factor_u2f_enabled?
            .clearfix
              = render 'u2f/authenticate', locals: { params: params, resource: resource, resource_name: resource_name }
