%section.settings.border-0.no-animate
  .settings-header{ :class => "border-top" }
    %h4
      = _("Prometheus")
    %button.btn.js-settings-toggle{ type: 'button' }
      = _('Expand')
    %p
      = link_to s_('PrometheusService|More information'), help_page_path('user/project/integrations/prometheus_library/index'), target: '_blank', rel: "noopener noreferrer"
    .settings-content
      = render 'projects/services/form'
