.file-actions
  .btn-group{ "v-if" => "file.type === 'text'" }
    %button.btn.gl-button-deprecated{":class" => "{ 'active': file.resolveMode == 'interactive' }",
      '@click' => "onClickResolveModeButton(file, 'interactive')",
      type: 'button' }
      Interactive mode
    %button.btn.gl-button-deprecated{':class' => "{ 'active': file.resolveMode == 'edit' }",
      '@click' => "onClickResolveModeButton(file, 'edit')",
      type: 'button' }
      Edit inline
  %a.btn.gl-button-deprecated.view-file{ ":href" => "file.blobPath" }
    View file @{{conflictsData.shortCommitSha}}
