- if Feature.enabled?(:invite_members_group_modal, group) && body_data_page == 'groups:show' && can?(current_user, :admin_group_member, group)
  %li
    .js-invite-members-trigger{ data: { icon: 'plus', display_text: 'Invite team members' } }
