.gl-pagination.prepend-top-default
  %ul.pagination.justify-content-center
    - if previous_path
      %li.page-item.prev
        = link_to(s_('Pagination|‹ Prev'), previous_path, rel: 'prev', class: 'page-link')
    - if next_path
      %li.page-item.next
        = link_to(s_('Pagination|Next ›'), next_path, rel: 'next', class: 'page-link')
