- plans_page      = link_to s_("BillingPlans|Pricing page"), "https://about.gitlab.com/pricing"
- features_link   = link_to s_("BillingPlans|features"), "https://about.gitlab.com/features"
- learn_more_text = s_("BillingPlans|Learn more about each plan by visiting our %{plans_page}.").html_safe % { plans_page: plans_page }

- if namespace.eligible_for_trial?
  = s_("BillingPlans|Learn more about each plan by visiting our %{plans_page}, or start a free 30-day trial of GitLab.com Gold.").html_safe % { plans_page: plans_page }
- elsif namespace.trial_active?
  = s_("BillingPlans|Your Gold trial will <strong>expire after %{expiration_date}</strong>. You can learn more about GitLab.com Gold by reading about our %{features_link}.").html_safe % { expiration_date: namespace.trial_ends_on, features_link: features_link }
- elsif namespace.trial_expired?
  = s_("BillingPlans|Your GitLab.com trial expired on %{expiration_date}. %{learn_more_text}").html_safe % { expiration_date: namespace.trial_ends_on, learn_more_text: learn_more_text }
- else
  = learn_more_text
