- page_title _("Code Analytics")

#js-code-analytics-app{ data: { endpoint: analytics_code_analytics_path, "empty-state-svg-path" => image_path("illustrations/monitoring/getting_started.svg"), "no-access-svg-path" => image_path("illustrations/analytics/no-access.svg") } }
