---
title: Hello world
stage: "DevOps Create"
---

<% if @item[:title] %>
  <h1><%= @item[:title] %></h1>
<% end %>

<% if @item[:stage] %>
  <div class="badge-display badge-gitlab"><%= @item[:stage] %></div>
<% end %>

## Heading

Normal markdown content.

_Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus reprehenderit at architecto, eveniet repellendus eligendi quia itaque harum possimus excepturi, dolorem magnam laboriosam velit qui expedita vero sit quas laudantium necessitatibus incidunt maiores dolores dolore porro voluptas._

_Nostrum ratione maiores officiis facere voluptas at, quidem eveniet nesciunt ullam cumque, iure doloremque autem omnis veniam hic! Facere eveniet delectus, et, sit dolor molestias perferendis, id obcaecati facilis enim non placeat._

_Ab, numquam enim dolorum facere ut quia pariatur laborum modi quaerat officia autem hic, earum facilis molestias culpa necessitatibus deserunt est. Sint excepturi doloremque minus repellat, **magnam** quo laboriosam eum dolore, rem omnis soluta rerum laudantium possimus sit ipsum eligendi officia tenetur labore. Nihil in natus saepe debitis molestiae, illum alias eaque, eveniet accusamus veritatis? Commodi, voluptatibus nam architecto molestiae?_
