.build-page-pod-logs {
  .build-trace-container {
    position: relative;
  }

  .build-trace {
    @include build-trace();
  }

  .top-bar {
    @include build-trace-top-bar($gl-line-height * 5);
    
    // TODO Use another css file
    // .dropdown-menu-toggle {
    //   width: 200px;

    //   @include media-breakpoint-up(sm) {
    //     width: 300px;
    //   }
    // }

    // TODO Use another css file
    // .dropdown-menu {
    //   width: 300px;
    // }

    .controllers {
     // TODO Use another css file
      @include build-controllers(16px, flex-end, true, 0);
    }

    .refresh-control {
      @include build-controllers(16px, flex-end, true, 0);
      margin-left: 2px;
    }
  }

  .btn-refresh svg {
    top: 0;
  }

  .build-loader-animation {
    @include build-loader-animation;
  }
}
