.linked-pipeline-mini-list {
  &.is-downstream {
    margin-left: -4px;
    margin-right: 4px;
  }

  .arrow-icon {
    display: inline-block;
    vertical-align: middle;
    fill: $border-color;
  }

  &:hover {
    .linked-pipeline-mini-item {
      margin-left: 0;
    }
  }

  .linked-pipeline-mini-item {
    @include mini-pipeline-item();
    display: inline-block;
    transition: margin 0.2s linear;
    margin: 2px 7px 3px -14px;

    svg {
      height: $ci-action-icon-size;
      width: $ci-action-icon-size;
      position: absolute;
      top: -1px;
      left: -1px;
      z-index: 2;
      overflow: visible;
    }

    &:first-of-type:last-of-type {
      margin-right: 1px;
    }

    &:nth-of-type(1) {
      margin-left: 0;
      z-index: 100;
    }

    &:nth-of-type(2):not(.linked-pipelines-counter) {
      z-index: 99;
    }

    &:nth-of-type(3) {
      z-index: 98;
    }

    &:nth-of-type(4) {
      z-index: 97;
    }
  }

  .linked-pipelines-counter {
    position: relative;
    font-size: 12px;
    vertical-align: middle;
    line-height: 20px;
    height: 22px;
    width: 22px;
    padding-left: 1px;
    margin-left: -15px;
    border-radius: 2em;
    background: $gray-darkest;
    color: $white-light;
    z-index: 96;
    text-decoration: none;

    &:hover {
      width: 22px;
      background: darken($gray-darkest, 10%);
    }
  }
}

/**
 * Cross-project pipelines (applied conditionally to pipeline graph)
 */

.stage-cell {
  .stage-container {
    &.has-downstream {
      &::after {
        content: '';
        width: 0;
        border: 0;
      }
    }
  }
}

.upstream-pipeline {
  margin-right: 16px;
}

.downstream-pipeline {
  .stage-column:first-child .stage-name {
    @include flat-connector-before;
  }
}

.linked-pipelines-column.stage-column {
  position: relative;

  > ul {
    padding: 0;
  }

  &.graph-position-left {
    .cross-project-triangle {
      right: 16px;
    }

    .linked-pipeline.build.active {
      @include flat-connector-before;
    }
  }

  &.graph-position-right {
    margin-left: 16px;

    .cross-project-triangle {
      right: 16px;
    }

    li:first-child {
      @include flat-connector-before;
    }
  }

  .linked-pipeline.build {

    &.active {
      .linked-pipeline-content,
      .linked-pipeline-content:hover,
      .linked-pipeline-content:focus {
        background-color: $blue-100;
      }

      .cross-project-triangle {
        border-bottom: 7px solid transparent;
        border-top: 7px solid transparent;
        border-left: 0;
        border-right: 7px solid $gray-darkest;
      }
    }

    .linked-pipeline-content {
      @include build-content();
      text-align: inherit;
      min-height: 42px;
      border-radius: 0;

      svg {
        top: 0;
      }
    }

    &:first-child .linked-pipeline-content {
      border-top-left-radius: $border-radius-default;
      border-top-right-radius: $border-radius-default;
    }
    &:last-child .linked-pipeline-content {
      border-bottom-left-radius: $border-radius-default;
      border-bottom-right-radius: $border-radius-default;
    }
  }
}

.stage-column.has-upstream {
  .stage-name {
    @include flat-connector-before;
  }
}

.cross-project-triangle {
  position: absolute;
  top: 16px;
  width: 0;
  height: 0;
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
  border-left: 7px solid $gray-darkest;
  font-size: 0;
  line-height: 0;
  z-index: 10;
}
