-# Move the note text to i18n
.skip-trial.fixed-bottom.container
  = link_to _('Skip Trial (Continue with Free Account)'), 'about:blank', class: 'center'
  .note
    You won't get a free trial right now but you can always<br/>
    resume this process by clicking on your avatar and choosing<br/>
    'Start a free trial'.
