- page_title _('Productivity Analytics')

-# = render 'shared/issuable/search_bar', type: :issues, show_sorting_dropdown: false
#js-productivity-analytics-container{ data: { endpoint: '', empty_state_svg_path: image_path('illustrations/security-dashboard-empty-state.svg') }}
