%p.account-well
  = _('To specify the notification level per project of a group you belong to, you need to visit project page and change notification level there.')
.gl-mb-3
  %ul.bordered-list
    - if @project_notifications
      - @project_notifications.each do |setting|
        = render 'project_setting', setting: setting, project: setting.source
