= bootstrap_form_for @user_cluster, html: { class: 'gl-show-field-errors' },
  url: clusterable.create_user_clusters_path, as: :cluster do |field|

  .form-group
    = field.submit s_('ClusterIntegration|Add Kubernetes cluster'), class: 'btn btn-success', data: { qa_selector: 'add_kubernetes_cluster_button' }
