= bootstrap_form_for @user_cluster, html: { class: 'gl-show-field-errors' },
  url: clusterable.create_user_clusters_path, as: :cluster do |field|

  = field.fields_for :platform_kubernetes, @user_cluster.platform_kubernetes do |platform_kubernetes_field|
    - if @user_cluster.allow_user_defined_namespace?
      = render('clusters/clusters/namespace', platform_field: platform_kubernetes_field)

  .form-group
    = field.submit s_('ClusterIntegration|Add Kubernetes cluster'), class: 'btn btn-success', data: { qa_selector: 'add_kubernetes_cluster_button' }
