- active = params[:tab] == 'apps'

%li.nav-item{ role: 'presentation' }
  %a.nav-link{ class: active_when(active), href: clusterable.cluster_path(@cluster.id, params: {tab: 'apps'}), id: 'cluster-apps-tab' }
    %span= _('Applications')
