.whats-new-drawer {
  box-shadow: none;
}

.gl-badge.whats-new-item-badge {
  background-color: $purple-light;
  color: $purple;
  font-weight: bold;
}

.whats-new-item-image {
  border-color: $gray-50;
}

.whats-new-modal-backdrop {
  z-index: 9;
}

.whats-new-notification-dot {
  background-color: $gray-900;
  font-size: .75rem;
  line-height: 1rem;
  padding: 3px 10px;
  border-radius: 20px;
  color: $white;
  vertical-align: top;
}
