- save_endpoint = local_assigns.fetch(:save_endpoint, nil)
- is_group = !@group.nil?
- if @project
  - project_id = @project.id

- if ci_variable_protected_by_default?
  %p.settings-message.text-center
    - link_start = '<a href="%{url}">'.html_safe % { url: help_page_path('ci/variables/README', anchor: 'protected-variables') }
    = s_('Environment variables are configured by your administrator to be %{link_start}protected%{link_end} by default').html_safe % { link_start: link_start, link_end: '</a>'.html_safe }

#js-ci-project-variables{ data: { endpoint: save_endpoint, project_id: project_id || '', group: is_group.to_s } }

- if !@group && @project.group
  .settings-header.border-top.prepend-top-20
    = render 'ci/group_variables/header'
  .settings-content.pr-0
    = render 'ci/group_variables/index'
