- @body_class = 'ide-layout'
- page_title 'IDE'

- content_for :page_specific_javascripts do
  = stylesheet_link_tag 'page_bundles/ide'

%iframe#ide-theia.h-100.border-0{ src: 'http://localhost:3002' }
