= form_for @issue, url: namespace_project_issue_path(@project.namespace, @project, @issue),
           html: { class: 'issue-form common-note-form js-quick-submit js-requires-input' } do |f|
  = render 'shared/issuable/form', f: f, issuable: @issue
