<%= render "links" %>
<p>
<p>
Number of events for this project: <%= @nr_of_events.inspect %>
<p>
<ol>
  <% @events.each do |e| %>
    <li><%= e.as_json.keep_if { |key, value| value }.inspect %></li>
  <% end %>
</ol>
