= render 'links'

%script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/echarts/4.6.0/echarts-en.min.js' }

%p
  Showing graphs based on events of the last #{@timerange} days.

= render 'graphs', graphs: @graphs
