# Yamllint of *.yml for .gitlab-ci.yml and yaml code blocks in *.md files.
# This uses rules from project root `.yamllint`.
lint-ci-gitlab:
  extends:
    - .default-retry
    - .yaml:rules
  image: pipelinecomponents/yamllint:latest
  stage: test
  needs: []
  variables:
    LINT_PATHS: .gitlab-ci.yml .gitlab/ci lib/gitlab/ci/templates changelogs
  script:
    - '[[ ! -d "ee/" ]] || export LINT_PATHS="$LINT_PATHS ee/changelogs"'
    - apk update && apk add grep # && grep --help
    # https://stackoverflow.com/a/7167115
    - sed -n '/```yaml/,/```/{//!p}' doc/ci/yaml/README.md | date
    - awk '/```yaml/{flag=1; next} /```/{flag=0} flag' doc/ci/yaml/README.md | date
    - sed -n '/```yaml/,/```/{//!p}' doc/ci/yaml/README.md | yamllint -f colored -
    - awk '/```yaml/{flag=1; next} /```/{flag=0} flag' doc/ci/yaml/README.md | yamllint -f colored -
    - grep -PazoHn '(?s)(?<=```yaml).*?(?=```)' doc/ci/yaml/README.md
    - grep -Pazo '(?s)(?<=```yaml).*?(?=```)' doc/ci/yaml/README.md | tr -d '\000' | yamllint -f colored -
    - grep -Pazo '(?s)(?<=```yaml).*?(?=```)' doc/ci/yaml/README.md > temp.yml
    - tr < temp.yml -d '\000' > temp2.yml
    - cat temp2.yml
    - yamllint -f colored temp2.yml
    - grep -Pazo '(?s)(?<=```yaml).*?(?=```)' doc/ci/yaml/README.md  | yamllint -f colored -
    - yamllint -f colored $LINT_PATHS
