# Yamllint of *.yml for .gitlab-ci.yml.
# This uses rules from project root `.yamllint`.
lint-ci-gitlab:
  extends:
    - .default-retry
    - .yaml:rules
  image:
    name: cytopia/yamllint:latest
    entrypoint: ["/bin/ash", "-c"]
  stage: test
  needs: []
  variables:
    LINT_PATHS: .gitlab-ci.yml .gitlab/ci lib/gitlab/ci/templates changelogs
  script:
    - '[[ ! -d "ee/" ]] || export LINT_PATHS="$LINT_PATHS ee/changelogs"'
    - grep "yaml" doc/ci/yaml/README.md
    - yamllint -f colored $LINT_PATHS
