- return unless extra_config.has_key?('google_tag_manager_id')

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=#{extra_config.google_tag_manager_id}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
